<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EmbibeAutomation" verbose="1">

    <listeners>
        <listener class-name="com.listner.TestNgListner"/>
    </listeners>
    <parameter name="baseUrl" value="www.embibe.com"/>
    <parameter name="browser" value="chrome"/>

    <test name="Basic Smoke Tests" preserve-order="true">


        <classes>
            <class name="com.embibe.testcases.embibeSearchTest"/>
        </classes>


    </test>
</suite>